@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    --nav-text-color: #6d808b;
    --nav-hover-bg: #d6d6d6c7;
    --border-color: #5c6c753f;
    --btn-bg: #118111;
    --btn-hover-bg: #0aad0a;
    --btn-hover-active-bg: #005f00;
    --white-text: #f7fbf7;
    --alert-bg: #db3030;
}

.currency-dropdown {
    font-weight: 600;
    font-size: small;
    text-decoration: none;
}

.dropdown-item {
    --bs-dropdown-item-padding-y: 3px;
    --bs-dropdown-item-padding-x: 1.7rem;
    --bs-dropdown-hover-color: red;
    --bs-dropdown-link-hover-color: rgb(0, 0, 0);
    --bs-dropdown-link-hover-bg: rgb(228, 228, 228);
    cursor: pointer;
}

.dropdown-menu {
    inset: 0px auto auto -33px;
    --bs-dropdown-min-width: 7rem;
    transform: translate(-33px, 35px) !important;
    padding: 10px;
    --bs-dropdown-padding-x: 10px !important;
    border-radius: 8px;
    --bs-dropdown-min-width: 7rem !important;
    --bs-dropdown-link-active-bg: var(--btn-bg) !important;
}

.nav-ul {
    list-style: none;
    text-decoration: none;
    margin-bottom: 0;
}

.nav-ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: 600;
}

#top-searchBox {
    width: 300px;
    height: 45px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    outline: none;
    padding: 0 15px;
    border: 2px solid var(--border-color);
    transition: .3s ease-in-out;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 253, 105, 0.25) !important;
}

.search-btn {
    margin-right: 5px;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: var(--btn-bg);
    color: var(--white-text);
}

.nav-2-right,
.b-nav {
    padding: 0 30px;
}

.n-links {
    cursor: pointer;

    .n-links-name {
        font-size: .9rem;
    }

    svg {
        height: 23px;
        width: 23px;
        transition: all .3s ease-in-out;
    }

    .badge-text {
        font-size: .6rem;
    }
}

.ac-footer {
    padding: 0 26px 20px 26px;
}

.ac-modal-foot-link {
    text-decoration: none;
    color: var(--btn-bg);
    font-weight: 600;
}

.ac-modal-p {
    color: var(--nav-text-color);
    font-size: .8rem;
}

.modal-foot-btn {
    --bs-btn-bg: var(--btn-bg) !important;
    --bs-btn-border-color: var(--btn-bg) !important;
    --bs-btn-hover-bg: var(--btn-hover-bg) !important;
    --bs-btn-hover-border-color: var(--btn-hover-bg) !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--btn-hover-active-bg) !important;
    --bs-btn-active-border-color: var(--btn-hover-bg) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--btn-hover-bg) !important;
    --bs-btn-disabled-border-color: var(--btn-hover-bg) !important;
}

.n-links:hover {
    svg {
        fill: var(--btn-bg);
    }

    .n-links-name {
        transition: .3s ease-in-out;
        color: var(--btn-bg)
    }
}

.navigation-list {
    padding-left: 0;

    .navigation-items {
        margin-left: 15px;

        .navigation-link {
            text-decoration: none;
            color: var(--nav-text-color);
            font-weight: 600;
        }
    }
}

.b-nav {
    padding: 0;
}

.categorie-sublinks {
    transform: translateY(40px);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border: 1px solid var(--border-color);
    transition: all .3s ease-in-out;

    .categorie-sublink {
        color: var(--nav-text-color);
        text-decoration: none;
        display: block;
        padding: 3px 14px;
        border-radius: 4px;

        &:hover {
            background-color: var(--nav-hover-bg);
        }
    }
}

.navigation-link {
    padding: 5px 14px;
}

.navigation-items {
    padding: 10px 0;
}

.navigation-items:hover {
    .categorie-sublinks {
        transform: translateY(0);
        visibility: visible;
        pointer-events: painted;
        opacity: 1;
    }
}

.categorie-subitem-submenus {
    min-width: 500px;
    min-height: 200px;
    border: 1px solid var(--border-color);
    position: fixed;
    left: 103%;
    transform: translateY(50px);
    top: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.categorie-subitems:hover {
    .categorie-subitem-submenus {
        opacity: 1;
        visibility: visible;
        pointer-events: painted;
        transform: translateY(0);
    }
}

.c-links {
    color: var(--nav-text-color);

    &:hover {
        background-color: var(--nav-hover-bg);
        border-radius: 7px;
    }
}

.navigation-link {
    svg {
        height: 14px;
        width: 14px;
        margin-left: 10px;
    }
}

.shoppingcartOffcanvas {
    width: 38% !important;
}

@media screen and (max-width:1065px) {
    .nav-2-right {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    #top-searchBox {
        width: 90%;
        height: 45px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: none;
        outline: none;
        padding: 0 15px;
        border: 2px solid var(--border-color);
        transition: .3s ease-in-out;
    }

    .n-links {
        svg {
            height: 18px;
            width: 18px;
        }

        .n-links-name {
            font-size: .7rem;
        }
    }

    .b-nav {
        padding: 0;
    }

}

// end navigation
@media screen and (max-width:992px) {
    .all-categories {
        display: none;
    }

    .top_last_navigation {
        left: 0;
        top: 0;
        width: 100%;
        height: 90vh;
        z-index: 999;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
    }

    .open-mobilesidenav {
        transform: translateX(0);
    }

    .navigation-link {
        svg {
            margin-left: 0;
        }
    }

    #nav-toggler {
        border: 1px solid var(--border-color);
        outline: none;
        padding: 3px 8px;
        border-radius: 7px;
        transition: .2s ease-in-out;

        &:hover {
            background-color: #0ae70a33;
        }

        svg {
            height: 25px;
            width: 25px;
        }
    }

    .n-links-icon {
        padding: 20px 20px;

        &:hover {
            background-color: rgba(7, 255, 7, 0.096);
        }

        height: max-content;
        border-radius: 50%;

        svg {
            height: 30px;
            width: 30px;
        }
    }

    .shoppingcartOffcanvas {
        width: 100% !important;
    }
}