@media screen and (max-width: 982px) {
    main {
        margin-top: 0;
    }

    .off_c_product_image_section {
        width: 100%;
    }

    .off_product_details_section {
        width: 100%;
    }

    .off_c_product_image_section {
       img{
         height: 140px;
        width: 140px;
       }
    }
}