:root {
    --nav-text-color: #6d808b;
    --nav-hover-bg: #d6d6d6c7;
    --border-color: #5c6c753f;
    --text-dark-blue1: #000f3b;
    --text-dark-blue2: #000f3bc7;
    --btn-bg: #118111;
    --btn-hover-bg: #0aad0a;
    --btn-hover-active-bg: #005f00;
    --white-text: #f7fbf7;
    --alert-bg: #db3030;
}

.p_s_c_container {
    border: 1px solid var(--border-color);

    .p_s_c_items {
        border-bottom: 1px solid var(--border-color);
        .sec_2_sub_cat_list {
            padding:0;
            // border: 1px solid var(--border-color);
            padding-bottom: 8px;
            max-height: 0;
            overflow: hidden;
            // transform: max-height;
            transition: max-height .3s ease-in-out;
            // transition: max-height all .3s ease-in-out;
        }
        .p_s_c_links {
            font-size: .9rem;
            display: flex;
            align-items: center;
            align-items: center;
            padding: 7px 15px;
            justify-content: space-between;
            text-decoration: none;
            color: var(--nav-text-color);
            cursor: pointer;
            &:hover{
                .p_s_c_links_icons{
                    color: var(--btn-bg);
                }
            }
            
            .p_s_c_links_icons {
                font-weight: 700;
                color: var(--text-dark-blue1);
                img {
                    margin-right: 7px;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            .p_s_c_link_arrow {
                svg {
                    // float: right;
                    height: 10px;
                    width: 10px;
                }
            }
        }
        ul{
            li{
                padding: 7px 50px;
                a{
                    text-decoration: none;
                    color:var(--nav-text-color);
                    color: var(--text-dark-blue2);
                    font-weight: 500;
                    display: block;
                    &:hover{
                        color: var(--btn-bg);
                    }
                }
            }
        }
    }
}